<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1 class="h6 font-weight-bold">Badges</h1>
            <hr>
        </div>

        <div v-if="!loading">
            <div class="col-md-3" v-for="badge in badgeData">
                <div class="card text-xs-center">
                    <div class="card-block">
                        <i class="fa fa-search card-icon" aria-hidden="true"></i>
                        <h6 class="card-subtitle m-b-5 font-weight-bold">{{badge.badge.name}}</h6>
                        <p class="card-text">{{badge.badge.points}} points</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>