<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1 class="h6 font-weight-bold">Badges</h1>
            <hr>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text" style="color: green;"> 10 juillet 2015</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <i class="fa fa-search card-icon" aria-hidden="true"></i>
                    <h6 class="card-subtitle m-b-5 font-weight-bold">Inviter un ami</h6>
                    <p class="card-text">500 points</p>
                </div>
            </div>
        </div>
    </div>
</div>