
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard - Template</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="bs4/dist/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="">Linguissime</a>

                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item" style="padding-top:2px;"><a href="" class="nav-link">30 <i style="padding-left:3px; color:#F4D03F;" class="fa fa-trophy" aria-hidden="true"></i></a></li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/1a2/1ce/0ad60d0.jpg" class="m-r-5 img-circle" width="25" heigth="25">
                            Antoine
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Preview">
                            <a class="dropdown-item"  href="#"> <i class="fa fa-cog" style="padding-right: 16px;" aria-hidden="true"></i>Paramètres</a>
                            <a class="dropdown-item"  href="#"> <i class="fa fa-tasks" aria-hidden="true" style="padding-right: 14px;"></i>Créer un exercice</a>
                            <a class="dropdown-item"  href="#"> <i class="fa fa-power-off" style="padding-right: 16px;" aria-hidden="true"></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>

                <form class="form-inline pull-xs-left" style="margin-left:15px;">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control" type="text">
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-block text-xs-center">
                       <img src="http://static2.businessinsider.com/image/53284fbeeab8ea41214b5f42/goldman-solar-is-on-the-way-to-dominating-the-electricity-market-and-the-world-has-elon-musk-to-thank.jpg" width="150" height="150" class="img-circle">
                         <h1 class="h5 m-t-1">Elon Musk</h1>

                        <p><a href="" class="link-primary">Voir le profil</a></p>          
                        <p><a href="" class="btn btn-primary mg-t-10">Completer mon profil</a></p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Liens utiles</div>
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li class="link-primary"><a href="">A propos</a></li>
                            <li class="link-primary"><a href="">Réviser un exercice</a></li>
                            <li class="link-primary"><a href="">Créer un exercice</a></li>
                            <li class="link-primary"><a href="">Trouver un exercice</a></li>
                            <li class="link-primary"><a href="">Récompenses</a></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-lg-7">
                <div class="card">
                    <div class="card-header">Bienvenue sur Linguissime !</div>
                    <div class="card-block">
                        <p class="m-b-5">Consultez vos récompenses, modifiez vos informations de profil et inviter vos amis, le tout depuis votre tableau de bord.</p>

                        <p class="m-b-5"><a href="" class="link-primary">Completer votre profil</a></p>

                        <p class="m-b-5">Découvrez les exercices crées par d'autres utilisateurs.</p>

                        <p class="m-b-5"><a class="link-primary">Recherche un exercice</a></p>

                        <p class="m-b-5">Vous pouvez en moins de 5 minutes créer facilement votre propre exercice que vous et d'autres personnes avez la possibilité de réviser.</p>

                        <p class="m-b-5"><a class="link-primary">Créer un exercice interactif</a></p>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Recommendations<br>
                    </div>

                    <div class="card-block">
                        
                          <form>
                                <fieldset class="mg-t-15 row">
                                  <div class="col-md-6 mg-b-15">
                                      <p class="text-gray-dark s-13 mg-t-5">Inviter vos amis ou contacts pour gagner des points</p>
                                      <p class="text-gray-dark s-13 mg-t-5">Les amis à qui vous envoyez un e-mail peuvent s'inscrire sur linguissime. Pour chaque ami invité, vous allez gagner 5 points. Vous pouvez inviter autant d'amis que vous le souhaitez</p>
                                  </div>

                                  <div class="col-md-6">
                                      <div class="input-group">
                                          <input type="text" class="form-control" placeholder="E-mail" style="padding:7px;">
                                          <span class="input-group-btn">
                                              <button class="btn btn-primary" type="button"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                          </span>
                                        </div>
                                  </div>    
                              </fieldset>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">Centre d'aide</a></li>
            <li class="list-inline-item"><a href="">A propos</a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="bs4/js/dist/dropdown.js"></script>
<script type="text/javascript" src="bs4/js/dist/modal.js"></script>
<script type="text/javascript" src="bs4/js/dist/util.js"></script>
<script type="text/javascript" src="bs4/js/dist/collapse.js"></script>
 
</body>
</html>