
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register - Template</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="bs4/dist/css/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color:white; margin-top:120px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

                <a class="navbar-brand" href="">Linguissime</a>
                <p class="navbar-text">Score : 18</p>
 

                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item"><p class="navbar-text">7 / 20</p></li>
                    <li class="nav-item" style="padding-top:2px"><a href="" class="nav-link">Fermer</a></li>
                </ul>
          
        </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="text-xs-center">
            <h1  style="font-size:25px">Choissisez la bonne solution</h1>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/86/92/e9/8692e9f0ff71db9f7545d647743e173b.jpg" alt="..." class="img-thumbnail center-bloc" style="height:250px; width:250px; margin-top:15px;">
            <div class="tool-box center-block"></div>
            <p style="font-size: 16px; font-weight: bold; margin-top:10px">Mon nom est Antoine</p>

            <button class="tool tool-exercise">My</button>
            <button class="tool tool-exercise">Is</button>
            <button class="tool tool-exercise">Name</button>
            <button class="tool tool-exercise">Antoine</button>
         <!--   <button class="btn btn-default btn-sm center-block" style="display:block; margin-top:30px;">Suivant</button> -->
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom-color: white;">
                <h4 class="modal-title" id="myModalLabel">Fini !</h4>
            </div>
            <div class="modal-body text-xs-center">
                <i class="fa fa-bar-chart" style="font-size:60px; color:#2996CC" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="bs4/js/dist/dropdown.js"></script>
<script type="text/javascript" src="bs4/js/dist/modal.js"></script>
<script type="text/javascript" src="bs4/js/dist/util.js"></script>
<script type="text/javascript" src="bs4/js/dist/collapse.js"></script>
 
</body>
</html>