
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Navbar - Template</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="bs4/dist/css/bootstrap.css" rel="stylesheet">
</head>

<body> 

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Linguissime</a>
        </div>
    </nav>

    <div class="container">
        <div class="row center-block">
            <div class="col-md-6 col-sm-12 col-lg-4 col-md-offset-4">
                <div class="card card-shadow">
                    <div class="card-block">
                        <h1 class="card-title text-xs-center h4 m-b-2">Connexion à Linguissime</h1>
                        <form>
                            <fieldset class="form-group">
                                <a class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                                </a>
                            </fieldset>
      
                            <fieldset class="form-group">
                                <a class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google"></span> Sign in with Google
                                </a>
                            </fieldset>

                            <div class="hr-text" data-text="ou"></div>

                            <fieldset class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
                            </fieldset>

                            <fieldset class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                            </fieldset>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Se souvenir de moi 
                                </label>
                                <a href="" class="text-gray-light pull-xs-right">mot de passe oublié ?</a>
                            </div>

                            <fieldset class="form-group m-b-0">
                                <button type="submit" class="btn btn-block btn-primary">Connexion</button>
                                <p class="m-b-0 p-t-1">Vous n'avez pas de compte ? <a href="" class="link-primary">Inscrivez-vous</a></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="bs4/js/dist/dropdown.js"></script>
<script type="text/javascript" src="bs4/js/dist/modal.js"></script>
<script type="text/javascript" src="bs4/js/dist/util.js"></script>
<script type="text/javascript" src="bs4/js/dist/collapse.js"></script>
 
</body>
</html>