
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register - Template</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="bs4/dist/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="">Linguissime</a>

                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item" style="padding-top:2px;"><a href="" class="nav-link">30 <i style="padding-left:3px; color:#F4D03F;" class="fa fa-trophy" aria-hidden="true"></i></a></li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/1a2/1ce/0ad60d0.jpg" class="m-r-5 img-circle" width="25" heigth="25">
                            Antoine
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Preview">
                            <a class="dropdown-item"  href="#"> <i class="fa fa-cog" style="padding-right: 16px;" aria-hidden="true"></i>Paramètres</a>
                            <a class="dropdown-item"  href="#"> <i class="fa fa-tasks" aria-hidden="true" style="padding-right: 14px;"></i>Créer un exercice</a>
                            <a class="dropdown-item"  href="#"> <i class="fa fa-power-off" style="padding-right: 16px;" aria-hidden="true"></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>

                <form class="form-inline pull-xs-left" style="margin-left:15px;">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control" type="text">
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">Recherche</div>
                    <div class="card-block">
                        <form>
                            <div class="inner-addon right-addon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Filtres</div>
                    <div class="card-block">
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Catégories</h6>
                            <input type="checkbox"> Animaux
                        <br>
                            <input type="checkbox"> France
                        <br>
                            <input type="checkbox"> Informatique
                        <br>
                            <input type="checkbox"> Sport
                        <br><br>
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Difficulté</h6>
                        <input type="checkbox"> Facile
                        <br>
                            <input type="checkbox"> Moyen
                        <br>
                            <input type="checkbox"> Difficile
                        <br><br>
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Durée</h6>
                            <input type="checkbox"> 5 minutes
                        <br>
                            <input type="checkbox"> 10 minutes
                        <br>
                            <input type="checkbox"> 15 minutes
                        <br>
                            <input type="checkbox"> 20 minutes
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">Centre d'aide</a></li>
            <li class="list-inline-item"><a href="">A propos</a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="bs4/js/dist/dropdown.js"></script>
<script type="text/javascript" src="bs4/js/dist/modal.js"></script>
<script type="text/javascript" src="bs4/js/dist/util.js"></script>
<script type="text/javascript" src="bs4/js/dist/collapse.js"></script>
 
</body>
</html>