<label>
    Texte à traduire: 
    <input type="text" v-model="questionData.text" placeholder="Exemple: Pomme"/>
</label>
<label>
    Bonne traduction:
    <input type="text" v-model="questionData.goodTranslation" placeholer="Exemple: Apple"/>
</label> Mauvaises traductions:
<template v-for="item in questionData.badTranslations">
    <input type="text" v-model="item" placeholder="Exemple: Orange"/>
    <button @click="removeBadTranslation($index)"><span class="fa fa-trash"></span></button>
</template>
<button @click="addBadTranslation">Ajouter</button>