<div class="container">
    <div class="row">

        <div class="col-lg-3 col-lg-offset-1">
            <ul class="list-group">
                <li class="list-group-item"><a v-link="{ path: '/' }">Information personelles</a></li>
                <li class="list-group-item active">Mot de passe</li>
                <li class="list-group-item"><a v-link="{ name: 'statistics' }">Statistiques</a></li>
                <li class="list-group-item"><a v-link="{ path: '/' }">Badges</a></li>
            </ul>
            <a v-link="{ path: '/' }" class="btn btn-block btn-sm btn-default m-t-10 m-b-10">Voir mon profil</a>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Changer votre mot de passe
                </div>
                <div class="card-block">
                    <div class="alert alert-danger" v-show="failed">{{errorMessage}}</div>
                    <div class="alert alert-success" v-show="success">Mot de passe modifié avec succès!</div>

                    <form @submit.prevent="onSubmit">
                        <fieldset class="form-group">
                            <input type="password" class="form-control" placeholder="Mot de passe actuel" :disabled="working" v-model="oldPasswd">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="password" class="form-control" placeholder="Nouveau mot de passe" :disabled="working" v-model="newPasswd">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="password" class="form-control" placeholder="Confirmer le mot de passe" :disabled="working" v-model="confirmNewPasswd">
                        </fieldset>

                        <fieldset class="form-group m-b-0">
                            <button type="submit" :class="'btn btn-sm pull-xs-right btn-primary '+(working?'disabled':'')" :disabled="working">
                                Enregistrer les modifications
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>