<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a v-link="{ path: '/' }">Centre d'aide</a></li>
            <li class="list-inline-item"><a v-link="{ path: '/' }">A propos</a></li>
            <li class="list-inline-item"><a v-link="{ path: '/' }"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a v-link="{ path: '/' }"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a v-link="{ path: '/' }"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>