<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-block">
                    <form v-on:submit.prevent="onSubmit">
                        <fieldset class="form-group">
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>
                        </fieldset>

                        <fieldset class="form-group">
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>
                        </fieldset>

                        <div class="hr-text" data-text="ou"></div>

                        <fieldset class="form-group">
                            <input type="string" class="form-control" placeholder="Username" v-model="username">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail" v-model="email">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="password" class="form-control" placeholder="Mot de passe" v-model="password">
                        </fieldset>

                        <div class="checkbox">
                            <label>
                                    <input type="checkbox"> Se souvenir de moi 
                                </label>
                            <a v-link="{ path: '/' }" class="text-gray-light pull-xs-right">mot de passe oublié ?</a>
                        </div>

                        <fieldset class="form-group m-b-0">
                            <button type="submit" class="btn btn-block btn-primary">Inscription</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>