{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">Recherche</div>
                    <div class="card-block">
                        <form>
                            <div class="inner-addon right-addon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Filtres</div>
                    <div class="card-block">
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Catégories</h6>
                            <input type="checkbox"> Animaux
                        <br>
                            <input type="checkbox"> France
                        <br>
                            <input type="checkbox"> Informatique
                        <br>
                            <input type="checkbox"> Sport
                        <br><br>
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Difficulté</h6>
                        <input type="checkbox"> Facile
                        <br>
                            <input type="checkbox"> Moyen
                        <br>
                            <input type="checkbox"> Difficile
                        <br><br>
                        <h6 class="card-subtitle m-b-5 font-weight-bold">Durée</h6>
                            <input type="checkbox"> 5 minutes
                        <br>
                            <input type="checkbox"> 10 minutes
                        <br>
                            <input type="checkbox"> 15 minutes
                        <br>
                            <input type="checkbox"> 20 minutes
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" src="http://assets.toptal.io/uploads/blog/category/logo/80/twitter_bootstrap.png" height="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">L'informatique</h4>
                                L'informatique est un domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par l’exécution de programmes inform...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">Centre d'aide</a></li>
            <li class="list-inline-item"><a href="">A propos</a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
{% endblock %}