<div class="linklist">
    <button @click="show = !show">
        <span v-show="show">Hide toolbox</span>
        <span v-else>Show toolbox</span>
    </button>
    <template v-if="show">
        <h1>Pretty list of links</h1>
        <button @click="disconnect">Invalidate token</button>
        <button @click="this.$store.dispatch('SET_TOKEN', 'test')">Add fake token</button>
        <a v-link="{ path: '/' }">Homepage</a>
        <a v-for="routename in links" v-link="{ name: routename }">"{{$key}}" page</a>
    </template>
</div>