<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a class="navbar-brand" v-link="{ path: '/' }">Linguissime</a>

            <ul class="nav navbar-nav pull-xs-right">
                <template v-if="!$root.isTokenValid">
                    <disconnected></disconnected>
                </template>
                <template v-else>
                    <connected></connected>
                </template>
            </ul>

            <form class="form-inline pull-xs-left" style="margin-left:15px;">
                <div class="inner-addon right-addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control" type="text">
                </div>
            </form>
        </div>
    </div>
</nav>