<!--
<div class="container">
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-block text-xs-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN7m5k4E4sL0SWVJFIwHv7m_Gg-zQOW27fprBKz9Eko14xbID5aA" width="150" height="150" class="img-circle">
                    <h1 class="h5 m-t-1">{{ready?username:'...'}}</h1>

                    <p>Votre score: {{ready?data.points:'...'}}</p>
                    <p><a v-link="{ name: 'profile' }" class="btn btn-primary mg-t-10">Completer mon profil</a></p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Liens utiles</div>
                <div class="card-block">
                    <ul class="list-unstyled">
                        <li class="link-primary"><a v-link="{ path: '/' }">A propos</a></li>
                        <li class="link-primary"><a v-link="{ path: '/' }">Réviser un exercice</a></li>
                        <li class="link-primary"><a v-link="{ name: 'create' }">Créer un exercice</a></li>
                        <li class="link-primary"><a v-link="{ path: '/' }">Trouver un exercice</a></li>
                        <li class="link-primary"><a v-link="{ name: 'badges' }">Badges</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-12 col-lg-7">
            <div class="card">
                <div class="card-header">Bienvenue sur Linguissime !</div>
                <div class="card-block">
                    <p class="m-b-5">Consultez vos récompenses, modifiez vos informations de profil et inviter vos amis, le tout depuis votre tableau de bord.</p>

                    <p class="m-b-5"><a v-link="{ path: '/' }" class="link-primary">Completer votre profil</a></p>

                    <p class="m-b-5">Découvrez les exercices crées par d'autres utilisateurs.</p>

                    <p class="m-b-5"><a class="link-primary">Recherche un exercice</a></p>

                    <p class="m-b-5">Vous pouvez en moins de 5 minutes créer facilement votre propre exercice que vous et d'autres personnes avez la possibilité de réviser.</p>

                    <p class="m-b-5"><a class="link-primary">Créer un exercice interactif</a></p>

                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Recommendations<br>
                </div>

                <div class="card-block">

                    <form @submit.prevent="sendMail">
                        <fieldset class="mg-t-15 row">
                            <div class="col-md-6 mg-b-15">
                                <p class="text-gray-dark s-13 mg-t-5">Inviter vos amis ou contacts pour gagner des points</p>
                                <p class="text-gray-dark s-13 mg-t-5">Les amis à qui vous envoyez un e-mail peuvent s'inscrire sur linguissime. Pour chaque ami invité, vous allez gagner 5 points. Vous pouvez inviter autant d'amis que vous le souhaitez</p>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="E-mail" style="padding:7px;" v-model="inviteMail" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <span :class="'emailoutput' + (emailSuccess?'success':'error')">{{emailOutput}}</span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>